<nb-card>
    <nb-card-header>Binding One Way</nb-card-header>
    <nb-card-body>Hello {{ maVariable }} !!!</nb-card-body>
</nb-card>

<nb-card>
    <nb-card-header>Biding 2 Ways</nb-card-header>
    <nb-card-body>
        <input nbInput [(ngModel)]="maVariable2">
        <p>ma Variable 2 est égale à {{ maVariable2 }}</p>
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-header>Evénement</nb-card-header>
    <nb-card-body>
        <p>{{ maVariable3 }}</p>
        <button nbButton status="danger" outline
                (click)="onClick()"
                [disabled]="maVariable3 >= 10">Click Me</button>
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-header>*ngIf</nb-card-header>
    <nb-card-body>
        <nb-card>
            <nb-card-header (click)="toggle()" class="clickable">
                <nb-icon [icon]="open ? 'arrow-up' : 'arrow-down'"></nb-icon>
            </nb-card-header>
            <nb-card-body *ngIf="open">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit est, earum incidunt debitis magni assumenda adipisci iure similique et alias eum ipsum, blanditiis iste voluptates sapiente quidem odio facilis id?
            </nb-card-body>
        </nb-card>
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-header>*ngFor</nb-card-header>
    <nb-card-body>
        <ul>
            <li *ngFor="let item of list; let i = index; let pair = even">
                <p [ngClass]="{ 'red': pair }">{{ i + 1 }}. {{ item.name | titlecase }} {{ item.birthDate | date : 'dd/MM/yyyy' }} {{ item.job || 'Sans Emploi' }}</p>
            </li>
        </ul>
    </nb-card-body>
</nb-card>