<nb-card>
    <nb-card-header>
        <input nbInput 
               type="text"
               [(ngModel)]="articleName">
        <button nbButton (click)="add()"
                [disabled]="!articleName">+</button>
    </nb-card-header>
    <nb-card-body>
        <nb-list>
            <nb-list-item *ngFor="let item of articles"
                          (click)="check(item)">
                <span>{{item.quantity}}</span> - <span [ngClass]="{barre: item.checked}">{{item.name}}</span> 
            </nb-list-item>
        </nb-list>
    </nb-card-body>
</nb-card>
